*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    padding: 0 15px 0 15px;
    background-color: white;
}
/* Menu de navegação */
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;

    .nav-icon{
        width: 60px;
    }
    .menu-items{
        display: flex;
        width: 100%;
        gap: 12rem;
        font-size: 14pt;
    }
    .menu-item{
        text-decoration: none;
        color: rgb(3, 3, 92);
    }
}

.menu-item:hover{
    color: gray;
}


.background-img{
    background-image: url(Assets/Imagem_de_fundo_página_inicial.jpg);
    position: relative;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh;
    

}

.background-img::after {
    position: absolute;
    inset: 0;
    opacity: 0.7; /* escurece apenas o fundo */
}
