@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 10px 18px 10px 18px;
    background-color: white;
}

body{
    font-family: noto sans ;
}

.section-title{
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 25pt;
    padding-top: 10px;
    width: 100%;
}
/* Menu de navegação */
.menu{
    display: flex;
    align-items: center;
   
    .nav-icon{
        width: 50px;
        margin-left: 30px;
    }
    .menu-items{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        width: 100%;
        transition: all ease 0.5s;
    }
    .menu-item{
        text-decoration: none;
        color: #03035c ;
    }
    
}

.menu-item:hover{
    color: gray;
}

.prosense-title{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40px;
    .pro{
        color: rgb(8, 130, 167);
        position: absolute;
        bottom: 8px;
        font-size: 16pt;
    }
    

    .sense{
        position: absolute;
        color: rgb(3, 3, 92);
        font-size: 13pt;
        bottom: -7px;
        right: -30px;
    }
}


.home-background-img{
    background-image: url(Assets/consultoria\ empresarial\ curso\ de\ administracao.jpg);
    position: relative;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh;
}

.first-page-content{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    .first-content-title {
        color: rgb(3, 3, 92);
        font-weight: bolder;
        font-style: italic;
        font-size: 26pt;
    }
    .first-content{
        text-align: center;
        margin: 0 auto;
        font-style: italic;
        color: rgb(3, 3, 92);
        font-size: 16pt;
        width: 400px;

    }
    .first-page-button{
        background-color:rgb(3, 3, 92);
        color: white;
        font-weight: bolder;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        padding: 10px 18px 10px 18px;
        border-radius: 15px;
        transition: all ease 0.5s;
    }
}

.first-page-button:hover{
    background-color: white ;
    color:rgb(3, 3, 92) ;
}

/* Estilização do accordion */

.accordion-section-container{
    min-height: 90vh;
    max-height: 100vh;
    display: flex;
    align-items: center;
    
}
.accordion-section{
    display: flex;
    gap: 60px;
    margin: 250px 100px;
    max-width: 800px;
    max-height: 500px;
}
.accordion-section-img{
    width: 700px;
    border-radius: 20px;
}
.accordion-section-title{
    color: #03035c;
    width: 400px;
    font-weight: bolder;
    font-size: 21pt;
    padding-bottom: 40px;
}

.accordions-items{
    max-width: 800px;
}

.accordions-items .accordion-item{
    position: relative;
    width: 400px;
    margin: 10px 0;
}

.accordions-items .accordion-item .accordion-label{
    position: relative;
    cursor: pointer;
    color: white;
    transition: all ease 0.5s;
    background-color: rgb(3, 3, 92);
    padding: 10px;
    border-radius: 10px 10px 0 0;
}
.accordions-items .accordion-item .accordion-label:hover{
    background-color: gray;
    color: rgb(3, 3, 92);
}

.accordions-items .accordion-item .accordion-label::before{
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.accordions-items .accordion-item.active .accordion-label::before{
    content: "-";
}

.accordions-items .accordion-item .accordion-text-content{
    position: relative;
    overflow: hidden;
    overflow-y: hidden;
    color: white;
    background-color: rgb(82, 84, 85);
    transition: 0.5s;
    height: 0;
}

.accordions-items .accordion-item.active .accordion-text-content{
    height: 100px;
    padding: 10px;
    font-size: 9pt;
    overflow-y: hidden;
}

#third-accordion{
    height: 60px;
}

.accordion-text-color{
    color: rgb(3, 3, 92);
    font-weight: bolder;

}

/* Estilização do Card */

.card-section-container{
    min-height: 100vh;
    background-color: #063472;

    .card-img-top{
        display: block;
        height: auto;
        object-fit: cover;
        transition: all ease 0.5s;
        width: 100%;
        
    }
    .card-body{
        background-color: white;
        padding: 10px;
      
        
    }
    .card-text{
        text-align: center;
        color: rgb(3, 3, 92);
        font-size: 9pt;
    }
    .card-title{
        text-align: center;
        color: rgb(3, 3, 92);
        font-size: 10pt;
    }
}

.card-section{
    display: flex;
    width: 100%;
}

.cards-items{
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
}

.card-box-up{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.card-box-down{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.card-item{
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #292929;
    width: 15rem;
}

.card-img-top:hover{
    opacity: 0.5;
}

/* Estilização do Contador */

.counter-section{
    min-height: 40vh;
}
.counter-container {
    padding: 3em 2em;
    background: #FFFFFF;
    color: #133f70;
    text-align: center;
    position: relative;
}


.counter-container > div {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em 10em;
}

.counter-container h1 {
    font-size: 3em;
    margin-bottom: 0.3em;
}

.counter-card {
    background-color: #E5F1FF;
    border: 1px solid #E5F1FF;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    padding: 4em 2em;
    text-align: center;
}

.counter-card img {
    height: 120px;
    margin-bottom: 15px;
}


/* Estilização do Slider */

.slider-section-container{
    background-color:#133f70;
    height: 70vh;

}

.slider-section{
    margin: 50px auto;
}

.slider-container {
    text-align: center;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slide-pass {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -30px;
    z-index: 2;
    border: 3px solid white;
    background: white;
}

.card {
    background: white;
    padding: 50px 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    max-width: 90%;
    position: relative;
    top: -20px;
}

.quote {
    font-style: italic;
    color: rgb(3, 3, 92) ;
    margin-bottom: 20px;
    line-height: 1.5;
}

.author a {
    color: #1f4ca4;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.95rem;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: white;
    font-size: 28px;
    border: none;
    cursor: pointer;
    z-index: 3;
}

.left {
    left: 2px;
}

.right {
    right: 2px;
}

.dots {
    color: white;
    font-size: 24px;
    margin-top: 10px;
}

.form-section-container{
    background-color: #133f70;
    border-top: 2px solid white;
    height: 100vh;
}

.form-section{
    margin: 4%;
    display: flex;
    justify-content: space-evenly;
}

.text-img-content{
    max-width: 250px;
}

.form-img{
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
}

.form-section-subtitle{
    font-size: 23pt;
    color: white;
    font-weight: bolder;
}

.form-section-text{
    font-size: 14pt;
    padding-bottom: 15px;
    color: #03035c;
}

.contact-form-container{

    .form-contact-title{
        font-weight: bolder;
        color: white;
    }
    .o-field{
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
        color: white;
        text-align: center;
    }
    
}

.form-contact{
    padding: 12px;
}

.form-content{
    padding-top: 10px;
}

.form-content label{
    font-style: italic;
    color: white;
    font-size: 12pt;
}

.form-content input{
    width: 100%;
    max-width: 800px;
    padding: 10px;
    border-radius: 16px;
    border: 2px solid transparent;
    box-sizing: border-box;
}

.form-content a{
    font-size: 7pt;
    display: block;
    visibility: hidden;
}

.form-button{
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 12px;
    transition: all ease 0.5s;
    background-color: #03035c;
    color: white;
    border:none;
    cursor: pointer;
}

.form-button:hover{
    background-color: white;
    color: rgb(5, 56, 133);

}

.form-content.error input{
    border-color: red;
}

.form-content.error a{
    color: red;
    visibility: visible;
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 51, 102, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Esconde o popup */
.hidden {
  display: none;
}

/* Conteúdo do popup */
.popup-content {
  background-color: #fdfdfd;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 600px;
  text-align: center;
  border: 1px solid #dce7f7;
}

/* Botão fechar (X) */
.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #333;
}

/* Títulos */
.popup-content h1 {
  font-size: 26px;
  color: #003366;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.popup-content h2 {
  font-size: 20px;
  color: #003366;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Área do logo e texto */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.logo-pro {
    position: relative;
    color: #0072ce;
    font-weight: 600;
    font-size: 15pt;
    left: -20%;
    transform: translatex(-90%);
}

.logo-sense {
    position: relative;
    color: #003366;
    font-weight: 700;
    font-size: 12pt;
    left: -25%;
    top: -40%;
    transform: translate(30%,-20%);
    padding-bottom: 20px;
}

.slogan {
  font-size: 13px;
  color: #003366;
  font-style: italic;
  margin-top: 5px;
}

/* Ícone/logo */
.logo-icon img {
    margin-bottom: 40px;
  width: 50px;
  height: 50px;
}


/* Footer */
.footer-container {
    padding: 3em 2em;
    background-color: #FFFFFF;
}

 
.footer-elements {
    display: flex;
    justify-content: space-between;  
    align-items: center;              
    flex-wrap: wrap;  
    gap: 2em;
}

 
.footer-column {
    text-align: left;  
}

.footer-column h3 {
    margin-bottom: 0.5em;
    color: #133f70;
}

.footer-column ul {  
    padding: 0;        
    margin: 0;
}

.footer-column ul li a {
    text-decoration: none;
    color: #133f70;
}

.footer-nav-icon:hover{
    transition: all ease 0.5s;
    color: gray;

}

.logo-text-container {
    display: flex;
    align-items: center;  
    gap: 1em;  
}

.logo-text-container img {
    height: 120px;  
}


.nome-Prosense h1 {
    font-size: 3rem;
}
.footer-nome-Prosense h1 {
    font-size: 2em;

    color: #438fe7;
    margin: 0;
}

.nome-Prosense h2 {
    font-size: 2em;
}
.footer-nome-Prosense h2 {
    font-size: 3em;
    color: #133f70;
    margin: 0;
    position: relative;
    left: 45px;
    top: -15px;
}

.footer-frase-destaque {
    color: #133f70;
    font-size: 1em;
    font-weight: 600;
    position: relative;
    left: -5px;
    top: -20px;
    white-space: nowrap;  
}

.social-media-icons img {
    cursor: pointer;
    height: 45px;  
    margin-left: 0.5em;  
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 5px solid #133f70;
    cursor: pointer;
}

.hamburger::before, .hamburger::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #133f70;
    margin-top: 5px ;
    padding:1px;
}




/* Responsividade-telas de até 1920px de largura */
@media screen and (max-width:1020px) {

    /* Formatando o título da landing page*/
    .first-page-content .first-content-title{
        font-size: 17pt;
    }

    /* Responsivo segunda tela*/
    .accordion-section {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        margin: 30px 0;
        gap: 30px;
        padding: 4%;
        padding-top: 20%;
    }

    .accordion-section-img {
        width: 90%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .accordions-items {
        width: 90%;
        max-width: 500px;
    }
    
    .accordion-section-title,.accordions-items .accordion-item {
        width: 100%;
    }

    .accordion-section-title {
        text-align: center;
        font-size: 18pt;
        padding-bottom: 20px;
    }

    /* Responsivo do contador*/
    .counter-container > div {
        grid-template-columns: 1fr;
        gap: 2em;
    }
    .counter-card {
        text-align: center;
    }
    

    .footer-elements {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        justify-content: center;
        text-align: center;
    }

    .footer-column {
        width: 100%;
        margin: 0 auto;
    }
    .logo-text-container {
        justify-content: center;
    }

    /* Menu hamburger*/
    .hamburger {
        display: block;
        z-index: 1;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .menu-items {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #438fe7;
        clip-path: circle(100px at 90% -15%); /* adiciona e esconde o circulo para a animação */
        transition: 1s ease-out;
        font-size: 26px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .menu.active .menu-items {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }
    
}

